<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/Content/Display/style/default.css" rel="stylesheet" />
    <link href="~/Content/Display/style/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Display/style/nivo-slider.css" rel="stylesheet" />
    <link href="~/Content/Display/style/product.css" rel="stylesheet" />
    <script src="~/Content/Display/scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Content/Display/scripts/jquery.nivo.slider.js"></script>
    <script src="~/Content/Display/scripts/Scroll.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">


</head>
<body>
    <header>
        @{ Html.RenderAction("partialBanner", "default");}
    </header>
    <section>
        @RenderBody()
    </section>
    <footer>
        @{ Html.RenderAction("partialFooter", "default");}
    </footer>
</body>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
</html>
