
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div id="content">
    <div id="nvar">
        <nav>
            <ul>
                <li><a href="" title="">Trang chủ</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="" title="">Bồn cầu Lowen</a></li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                <li><a href="" title="">Bồn cầu 1 khối Lowen</a></li>

            </ul>
        </nav>
    </div>
    <div id="productList">
        <div id="nvar">
            <h1><a href="" title="">Bồn cầu Lowen 1 khối</a></h1>
        </div>
        <div id="contentProductList">
            <div class="tearPd">
                <div class="news">
                    <span>New</span>
                </div>
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
            <div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
            <div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
            <div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
            <div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
            <div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
            <div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title=""><img src="images/SOL848-1 - Copy.jpg" alt="" /></a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div><div class="tearPd">
                <div class="contentTearPd">
                    <div class="img">
                        <a href="" title="">
                            <amp-img src="images/SOL848-1 - Copy.jpg" alt="Welcome" height="400" width="800"></amp-img>

                        </a>
                    </div>
                    <h3>
                        <a href="" title="">Bồn cầu Lowen 1 khối LW-2500TS</a>
                    </h3>
                    <div class="boxPrice">
                        <span class="price">7.520.000đ</span><a href="" title=""><i class="fa fa-heart-o" aria-hidden="true"></i> Đặt hàng</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
