<div class="Tear_Cate">
    <div class="nVar_Tear_Cate">
        <span>Chuyên mục chính</span>
    </div>
    <div class="Content_Tear_Cate">
        <ul>
            <li><a href="/gioi-thieu" title="Giới thiệu"><i class="fa fa-chevron-right" aria-hidden="true"></i>
  Về LOWEN Việt Nam</a></li>
            <li><a href="/tin-tuc" title="Tin tức"><i class="fa fa-chevron-right" aria-hidden="true"></i>
  Tin tức</a></li>
            <li><a href="/tuyen-dung" title="Tuyển dụng"><i class="fa fa-chevron-right" aria-hidden="true"></i>
  Tuyển dụng</a></li>
            <li><a href="/lien-tuc" title="Liên hệ"><i class="fa fa-chevron-right" aria-hidden="true"></i>
  Liên hệ</a></li>
            <li><a href="/He-thong-phan-phoi" title="Hệ thống phân phối"><i class="fa fa-chevron-right" aria-hidden="true"></i>
  Hệ thống phân phối</a></li>
        </ul>
    </div>
</div>
