<div id="newsVideo">
    <div id="contentNewsVideo">
        <div id="newsHomes">
            <div class="nvar">
                <span>Báo chí nói gì về <strong> Lowen</strong></span>
            </div>
            <div id="contentNews">
                @Html.Raw(ViewBag.result)
                
            </div>
        </div>
        <div id="videoHomes">
            <div class="nvar">
                <span>Truyền hình Việt Nam nói về <strong> Lowen</strong></span>
            </div>
            <div id="contentVideoHomes">
               @Html.Raw(ViewBag.resultViewVideo)
            </div>
        </div>
    </div>

</div>
