@model LOWEN.Models.tblConfig
<div id="footer">
    <div id="contentFooter">
        <div id="leftFooter">
            <a href="/" title="Lowen"><img src="@Model.Logo" alt="Lowen" /></a>
            <span>Thiết bị vệ sinh hàng đầu Việt Nam</span>
        </div>
        <div id="centerFooter">
            <span>Địa chỉ : <strong>@Model.Address</strong></span>
            <span>Điện thoại : <strong>@Model.MobileIN</strong> </span>
            <span>Email : <strong>@Model.Email</strong> </span>
        </div>
        <div id="rightFooter">
            <ul class="ulMenu">
                <li><a href="/" title="Trang chủ"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a></li>
                <li><a href="/tin-tuc" title="Tin tức"><i class="fa fa-file-text-o" aria-hidden="true"></i> Tin tức</a></li>
                <li><a href="/tuyen-dung" title="Tuyển dụng"><i class="fa fa-user" aria-hidden="true"></i> Tuyển dụng</a></li>
                <li><a href="/lien-he" title="Liên hệ"><i class="fa fa-question-circle" aria-hidden="true"></i> Liên hệ</a></li>
            </ul>
            <ul class="ulSocial">
                <li><a href="/@Model.FanpageFacebook" title="facebook Lowen" rel="nofollow"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="/@Model.FanpageGoogle" title="Google +" rel="nofollow"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="/@Model.FanpageYoutube" title="Youtube Lowen" rel="nofollow"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="#" title="Twiter" rel="nofollow"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
